<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="SmacEntities" connectionString="metadata=res://*/SmacModel.csdl|res://*/SmacModel.ssdl|res://*/SmacModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=993ac12f-90b0-45a9-9682-a45d00246cf2.sqlserver.sequelizer.com;initial catalog=db993ac12f90b045a99682a45d00246cf2;persist security info=True;user id=wrjdcoeliemjnoev;password=4skqRFJwvmgNgmwSV8iTipjn5fQwJUSYWPRqV3Qtf8UZCDuhWSJGzyRNh7uLYnUH;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>